//- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
//- <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
nav.navbar-top.navbar.navbar-expand-lg.navbar-light.py-2.bg-white.fixed-top.border-bottom
  .container
    a.navbar-brand(href='/')
      img.navbar-brand-img(src='/img/logo.png' alt='...')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
        i.fe.fe-x
      ul.navbar-nav.ms-auto
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='/')
            | Trang ch&#x1EE7;
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='/vi/about-us')
            | Gi&#x1EDB;i thi&#x1EC7;u
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='/vi/wedding#sectionFeatures' data-scroll='{"offset": 0}')
            | T&iacute;nh n&abreve;ng
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='/vi/contact')
            | Li&ecirc;n h&#x1EC7;
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='/vi/survey')
            | &Dstrok;&aacute;nh gi&aacute;
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='https://blog.biihappy.com' target='_blank')
            | Blog
      if user 
        ul.navbar-nav.ms-auto
          li.nav-item.dropdown
            a#navbarUser.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' aria-haspopup='true' aria-expanded='false')
              .avatar.avatar-lg
                img.avatar-img.rounded-circle(src=`/img/users/${user.photo}` alt='...')  
              strong.mx-2(style='text-transform: uppercase;vertical-align: middle')=user.name            
              svg(width='12px' height='6px' viewbox='0 0 12 6' xmlns='http://www.w3.org/2000/svg')
                polygon(fill='#1F303C' points='5 5.7 0 0.7 0.7 0 5 4.4 9.3 0 10 0.7 ')
            .dropdown-menu.px-0.py-3(aria-labelledby='navbarUser')
              .list-group.list-group-flush
                a.list-group-item.p-3(href='/vi/account/account-settings')
                  .icon.icon-sm.text-primary.avatar.avatar-xl
                    img.avatar-img.rounded-circle(src=`/img/user/${user.photo}`)
                  .ms-4
                    h6.fw-bold.text-uppercase.text-primary.mb-0= user.name
                    p.fs-sm.text-gray-700.mb-0=user.email
                a.list-group-item.p-3(href='/vi/account/account-settings')
                  svg.bi.bi-person-circle(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z')
                    path(fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z')
                  span.ms-2 Thi&#x1EBF;t l&#x1EAD;p t&agrave;i kho&#x1EA3;n
                a.list-group-item.p-3(href='/vi/account/websites')
                  svg.bi.bi-globe(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z')
                  span.ms-2 Qu&#x1EA3;n l&yacute; website
                a.list-group-item.p-3.nav__el--logout(href='/')
                  svg.bi.bi-box-arrow-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                    path(fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z')
                    path(fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z')
                  span.ms-2 &Dstrok;&abreve;ng xu&#x1EA5;t
      else
        a.navbar-btn.btn.btn-sm.btn-danger.ms-auto(href='/vi/user/login') &Dstrok;&abreve;ng nh&#x1EAD;p
      
