extends base

block content
  nav.bg-dark.d-md-none
    .container-md
      .row.align-items-center
        .col
          ol.breadcrumb
            li.breadcrumb-item
              span.text-white
                | Thi&#x1EBF;t l&#x1EAD;p t&agrave;i kho&#x1EA3;n
            li.breadcrumb-item.active(aria-current='page')
              span.text-white
                | H&#x1ED3; s&#x1A1;
        .col-auto
          .navbar-dark
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#sidenavCollapse' aria-controls='sidenavCollapse' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
  header.pt-9.pb-11.d-none.d-md-block.background-header.position-relative
    .container-md
      .row.align-items-center
        .col
          h1.fw-bold.text-white.mb-2
            | Thi&#x1EBF;t l&#x1EAD;p t&agrave;i kho&#x1EA3;n
          p.fs-lg.text-white-75.mb-0
            | C&agrave;i &dstrok;&#x1EB7;t t&agrave;i kho&#x1EA3;n cho 
            a.text-reset(href=`mailto:${user.email}`)= user.email
        .col-auto
          a.btn.btn-sm.btn-gray-300-20.nav__el--logout(href='#')
            | &Dstrok;&abreve;ng xu&#x1EA5;t
  main.pb-8.pb-md-11.mt-md-n6
    .container-md
      .row
        .col-12.col-md-3
          .card.card-bleed.border-bottom.border-bottom-md-0.shadow-light-lg
            #sidenavCollapse.collapse.d-md-block
              .card-body
                h6.fw-bold.text-uppercase.mb-3
                  | T&agrave;i kho&#x1EA3;n
                ul.card-list.list.text-gray-700.mb-0
                  li.list-item.active
                    a.list-link.text-reset(href='/vi/account/account-settings')
                      | Thi&#x1EBF;t l&#x1EAD;p h&#x1ED3; s&#x1A1;
                  li.list-item
                    a.list-link.text-reset(href='/vi/account/account-settings/security')
                      | Thi&#x1EBF;t l&#x1EAD;p b&#x1EA3;o m&#x1EAD;t
        .col-12.col-md-9
          .card.card-bleed.shadow-light-lg.mb-6
            .card-header
              h4.mb-0
                | Th&ocirc;ng tin h&#x1ED3; s&#x1A1;
            .card-body
              form#account-settings-index-form.mb-6.form-user-data
                input(type='hidden' name='_csrf-biihappy' value='f1zcOac31FNMM51l7iF7r0JtjHAep2MfwF1UoLv62A0xae1u9n-jPmF47C6FTDXgDSfoI1XAM1SqbxbElqyHfg==')
                .row
                  .col-12
                    .row.align-items-center
                      .col-auto.form__photo-upload
                        .avatar.avatar-xxl
                          img#show_image_avatar.avatar-img.rounded-circle.border.border-gray-800-50.p-1.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo')
                        input#avatar_photo_base64.form-control(type='hidden' name='UserUpdateProfileForm[avatar_base64]')
                      .col.ms-n5
                        p.mb-0
                          | &#x1EA2;nh &dstrok;&#x1EA1;i di&#x1EC7;n
                        small.text-gray-700
                          | Ch&#x1EC9; cho ph&eacute;p &dstrok;&#x1ECB;nh d&#x1EA1;ng PNG ho&#x1EB7;c JPG. v&agrave; k&iacute;ch th&#x1B0;&#x1EDB;c ph&#x1EA3;i l&#x1EDB;n h&#x1A1;n 500x500px.
                      .col-12.col-md-auto
                        button.btn.btn-xs.w-100.btn-secondary.mt-5.mt-md-0.position-relative.btn--save-setting.form-user-data
                          input.form__upload.upload_image_avatar.file-field-absolute(type='file' accept='image/*', id ='photo' , name='photo')
                          svg.bi.bi-pencil(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Thay &dstrok;&#x1ED5;i &#x1EA3;nh &dstrok;&#x1EA1;i di&#x1EC7;n
                    hr.mb-5
                  .col-12
                    .form-group.field-userupdateprofileform-username.required
                      .form-floating.mb-2.form-group
                        input#userupdateprofileform-username.form-control(type='text' name='name' value=`${user.name}` aria-required='true')
                        label.control-label(for='name') T&ecirc;n t&agrave;i kho&#x1EA3;n
                        p.help-block.help-block-error
                  .col-12
                    .form-group.form-user-datal.required
                      .form-floating.mb-2.form-group
                        input#userupdateprofileform-email.form-control(type='email' name='email' value=`${user.email}` aria-required='true')
                        label.control-label(for='email') Email
                        p.help-block.help-block-error
                  .col-12.col-md-6.date-custom
                    .form-group.field-userupdateprofileform-birthday.required
                      .form-floating.mb-2.form-group
                        input#userupdateprofileform-birthday.form-control(type='date' name='birthday' value=`${user.birthday}` placeholder='Ngày sinh' data-date='2022-03-29' data-date-format='YYYY-MM-DD' min='1942-04-19' max='2022-04-19' aria-required='true')
                        label.control-label(for='birthday') Ng&agrave;y sinh
                        p.help-block.help-block-error
                  .col-12.col-md-6
                    .form-group.field-userupdateprofileform-tel
                      .form-floating.mb-2.form-group
                        input#userupdateprofileform-tel.form-control(type='number' name='phone' value=`${user.phone}` placeholder='Số điện thoại')
                        label.control-label(for='phone') S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i
                        p.help-block.help-block-error
                  .col-12.col-md-6
                    .form-group.field-userupdateprofileform-address
                      .form-floating.mb-2.form-group
                        input#userupdateprofileform-address.form-control(type='text' name='address' value=`${user.address}`)
                        label.control-label(for='address') &Dstrok;&#x1ECB;a ch&#x1EC9;
                        p.help-block.help-block-error
                  .col-12.col-md-6
                    .form-group.field-userupdateprofileform-country
                      .form-floating.mb-2.form-group
                        select#userupdateprofileform-country.form-control(name='nation')
                          option(value='') Qu&#x1ED1;c gia
                          option(value='AF') Afghanistan
                          option(value='AX') Aland Islands
                          option(value='AL') Albania
                          option(value='DZ') Algeria
                          option(value='AS') American Samoa
                          option(value='AD') Andorra
                          option(value='AO') Angola
                          option(value='AI') Anguilla
                          option(value='AQ') Antarctica
                          option(value='AG') Antigua And Barbuda
                          option(value='AR') Argentina
                          option(value='AM') Armenia
                          option(value='AW') Aruba
                          option(value='AU') Australia
                          option(value='AT') Austria
                          option(value='AZ') Azerbaijan
                          option(value='BS') Bahamas
                          option(value='BH') Bahrain
                          option(value='BD') Bangladesh
                          option(value='BB') Barbados
                          option(value='BY') Belarus
                          option(value='BE') Belgium
                          option(value='BZ') Belize
                          option(value='BJ') Benin
                          option(value='BM') Bermuda
                          option(value='BT') Bhutan
                          option(value='BO') Bolivia
                          option(value='BA') Bosnia And Herzegovina
                          option(value='BW') Botswana
                          option(value='BV') Bouvet Island
                          option(value='BR') Brazil
                          option(value='IO') British Indian Ocean Territory
                          option(value='BN') Brunei Darussalam
                          option(value='BG') Bulgaria
                          option(value='BF') Burkina Faso
                          option(value='BI') Burundi
                          option(value='KH') Cambodia
                          option(value='CM') Cameroon
                          option(value='CA') Canada
                          option(value='CV') Cape Verde
                          option(value='KY') Cayman Islands
                          option(value='CF') Central African Republic
                          option(value='TD') Chad
                          option(value='CL') Chile
                          option(value='CN') China
                          option(value='CX') Christmas Island
                          option(value='CC') Cocos (Keeling) Islands
                          option(value='CO') Colombia
                          option(value='KM') Comoros
                          option(value='CG') Congo
                          option(value='CD') Congo, Democratic Republic
                          option(value='CK') Cook Islands
                          option(value='CR') Costa Rica
                          option(value='CI') Cote D&apos;Ivoire
                          option(value='HR') Croatia
                          option(value='CU') Cuba
                          option(value='CY') Cyprus
                          option(value='CZ') Czech Republic
                          option(value='DK') Denmark
                          option(value='DJ') Djibouti
                          option(value='DM') Dominica
                          option(value='DO') Dominican Republic
                          option(value='EC') Ecuador
                          option(value='EG') Egypt
                          option(value='SV') El Salvador
                          option(value='GQ') Equatorial Guinea
                          option(value='ER') Eritrea
                          option(value='EE') Estonia
                          option(value='ET') Ethiopia
                          option(value='FK') Falkland Islands (Malvinas)
                          option(value='FO') Faroe Islands
                          option(value='FJ') Fiji
                          option(value='FI') Finland
                          option(value='FR') France
                          option(value='GF') French Guiana
                          option(value='PF') French Polynesia
                          option(value='TF') French Southern Territories
                          option(value='GA') Gabon
                          option(value='GM') Gambia
                          option(value='GE') Georgia
                          option(value='DE') Germany
                          option(value='GH') Ghana
                          option(value='GI') Gibraltar
                          option(value='GR') Greece
                          option(value='GL') Greenland
                          option(value='GD') Grenada
                          option(value='GP') Guadeloupe
                          option(value='GU') Guam
                          option(value='GT') Guatemala
                          option(value='GG') Guernsey
                          option(value='GN') Guinea
                          option(value='GW') Guinea-Bissau
                          option(value='GY') Guyana
                          option(value='HT') Haiti
                          option(value='HM') Heard Island &amp; Mcdonald Islands
                          option(value='VA') Holy See (Vatican City State)
                          option(value='HN') Honduras
                          option(value='HK') Hong Kong
                          option(value='HU') Hungary
                          option(value='IS') Iceland
                          option(value='IN') India
                          option(value='ID') Indonesia
                          option(value='IR') Iran, Islamic Republic Of
                          option(value='IQ') Iraq
                          option(value='IE') Ireland
                          option(value='IM') Isle Of Man
                          option(value='IL') Israel
                          option(value='IT') Italy
                          option(value='JM') Jamaica
                          option(value='JP') Japan
                          option(value='JE') Jersey
                          option(value='JO') Jordan
                          option(value='KZ') Kazakhstan
                          option(value='KE') Kenya
                          option(value='KI') Kiribati
                          option(value='KR') Korea
                          option(value='KW') Kuwait
                          option(value='KG') Kyrgyzstan
                          option(value='LA') Lao People&apos;s Democratic Republic
                          option(value='LV') Latvia
                          option(value='LB') Lebanon
                          option(value='LS') Lesotho
                          option(value='LR') Liberia
                          option(value='LY') Libyan Arab Jamahiriya
                          option(value='LI') Liechtenstein
                          option(value='LT') Lithuania
                          option(value='LU') Luxembourg
                          option(value='MO') Macao
                          option(value='MK') Macedonia
                          option(value='MG') Madagascar
                          option(value='MW') Malawi
                          option(value='MY') Malaysia
                          option(value='MV') Maldives
                          option(value='ML') Mali
                          option(value='MT') Malta
                          option(value='MH') Marshall Islands
                          option(value='MQ') Martinique
                          option(value='MR') Mauritania
                          option(value='MU') Mauritius
                          option(value='YT') Mayotte
                          option(value='MX') Mexico
                          option(value='FM') Micronesia, Federated States Of
                          option(value='MD') Moldova
                          option(value='MC') Monaco
                          option(value='MN') Mongolia
                          option(value='ME') Montenegro
                          option(value='MS') Montserrat
                          option(value='MA') Morocco
                          option(value='MZ') Mozambique
                          option(value='MM') Myanmar
                          option(value='NA') Namibia
                          option(value='NR') Nauru
                          option(value='NP') Nepal
                          option(value='NL') Netherlands
                          option(value='AN') Netherlands Antilles
                          option(value='NC') New Caledonia
                          option(value='NZ') New Zealand
                          option(value='NI') Nicaragua
                          option(value='NE') Niger
                          option(value='NG') Nigeria
                          option(value='NU') Niue
                          option(value='NF') Norfolk Island
                          option(value='MP') Northern Mariana Islands
                          option(value='NO') Norway
                          option(value='OM') Oman
                          option(value='PK') Pakistan
                          option(value='PW') Palau
                          option(value='PS') Palestinian Territory, Occupied
                          option(value='PA') Panama
                          option(value='PG') Papua New Guinea
                          option(value='PY') Paraguay
                          option(value='PE') Peru
                          option(value='PH') Philippines
                          option(value='PN') Pitcairn
                          option(value='PL') Poland
                          option(value='PT') Portugal
                          option(value='PR') Puerto Rico
                          option(value='QA') Qatar
                          option(value='RE') Reunion
                          option(value='RO') Romania
                          option(value='RU') Russian Federation
                          option(value='RW') Rwanda
                          option(value='BL') Saint Barthelemy
                          option(value='SH') Saint Helena
                          option(value='KN') Saint Kitts And Nevis
                          option(value='LC') Saint Lucia
                          option(value='MF') Saint Martin
                          option(value='PM') Saint Pierre And Miquelon
                          option(value='VC') Saint Vincent And Grenadines
                          option(value='WS') Samoa
                          option(value='SM') San Marino
                          option(value='ST') Sao Tome And Principe
                          option(value='SA') Saudi Arabia
                          option(value='SN') Senegal
                          option(value='RS') Serbia
                          option(value='SC') Seychelles
                          option(value='SL') Sierra Leone
                          option(value='SG') Singapore
                          option(value='SK') Slovakia
                          option(value='SI') Slovenia
                          option(value='SB') Solomon Islands
                          option(value='SO') Somalia
                          option(value='ZA') South Africa
                          option(value='GS') South Georgia And Sandwich Isl.
                          option(value='ES') Spain
                          option(value='LK') Sri Lanka
                          option(value='SD') Sudan
                          option(value='SR') Suriname
                          option(value='SJ') Svalbard And Jan Mayen
                          option(value='SZ') Swaziland
                          option(value='SE') Sweden
                          option(value='CH') Switzerland
                          option(value='SY') Syrian Arab Republic
                          option(value='TW') Taiwan
                          option(value='TJ') Tajikistan
                          option(value='TZ') Tanzania
                          option(value='TH') Thailand
                          option(value='TL') Timor-Leste
                          option(value='TG') Togo
                          option(value='TK') Tokelau
                          option(value='TO') Tonga
                          option(value='TT') Trinidad And Tobago
                          option(value='TN') Tunisia
                          option(value='TR') Turkey
                          option(value='TM') Turkmenistan
                          option(value='TC') Turks And Caicos Islands
                          option(value='TV') Tuvalu
                          option(value='UG') Uganda
                          option(value='UA') Ukraine
                          option(value='AE') United Arab Emirates
                          option(value='GB') United Kingdom
                          option(value='US') United States
                          option(value='UM') United States Outlying Islands
                          option(value='UY') Uruguay
                          option(value='UZ') Uzbekistan
                          option(value='VU') Vanuatu
                          option(value='VE') Venezuela
                          option(value='VN' selected='') Viet Nam
                          option(value='VG') Virgin Islands, British
                          option(value='VI') Virgin Islands, U.S.
                          option(value='WF') Wallis And Futuna
                          option(value='EH') Western Sahara
                          option(value='YE') Yemen
                          option(value='ZM') Zambia
                          option(value='ZW') Zimbabwe
                        label.control-label(for='nation') Qu&#x1ED1;c gia
                        p.help-block.help-block-error
                  .col-12.text-center.mt-5
                    button.btn.btn-danger.btn--save-settings(type='submit')
                      svg.bi.bi-save(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                        path(d='M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z')
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;C&#x1EAD;p nh&#x1EAD;t th&ocirc;ng tin

