extend editwedsite 

block content

  ul.nav.nav-pills.nav-fill.nav-list-website-menu
    li.nav-item
      a.nav-link.active(aria-current='page' href=`/wedding/edit/${weddings.id}/bridegroom`) C&ocirc; D&acirc;u &amp; Ch&uacute; R&#x1EC3;
    li.nav-item
      a.nav-link.bg-gray-200(href=`/wedding/edit/${weddings.id}/bridesmaids`) Ph&ugrave; D&acirc;u &amp; Ph&ugrave; R&#x1EC3;
    li.nav-item
      a.nav-link.bg-gray-200(href=`/wedding/edit/${weddings.id}/event`) S&#x1EF1; ki&#x1EC7;n
    li.nav-item
      a.nav-link.bg-gray-200(href=`/wedding/edit/${weddings.id}/storylove`) Chuy&#x1EC7;n T&igrave;nh Y&ecirc;u
  if(weddings)
    form#groom-bride-form(action=`/wedding/edit/${weddings.id}/bridegroom?_method=PUT` method='post')
      input(type='hidden' name='_csrf-biihappy' value='')
      .row.mt-5
        .col-12
          div
            | &Dstrok;&#x1EC3; t&ecirc;n c&#x1EE7;a c&ocirc; d&acirc;u v&agrave; ch&uacute; r&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c hi&#x1EC3;n th&#x1ECB; &dstrok;&#x1EB9;p tr&ecirc;n website, b&#x1EA1;n kh&ocirc;ng n&ecirc;n nh&#x1EAD;p t&ecirc;n d&#x1EA1;ng in hoa to&agrave;n ph&#x1EA7;n. 
            br
            |  V&iacute; d&#x1EE5;: B&#x1EA1;n h&atilde;y d&ugrave;ng &quot;
            strong Ng&ocirc; Vi&#x1EC7;t Ho&agrave;i
            | &quot; thay v&igrave; &quot;
            strong NG&Ocirc; VI&#x1EC6;T HO&Agrave;I
            | &quot; v&agrave; &quot;
            strong Vi&#x1EC7;t Ho&agrave;i
            | &quot; thay v&igrave; &quot;
            strong VI&#x1EC6;T HO&Agrave;I
            | &quot;
      .row.mt-6
        .col-sm-6
          .card.card-border.border-dark.shadow-lg.card-border-radius-none
            .card-body
              .d-block.text-center
                a.icon-circle.icon-avatar.thumbnail.d-block.mb-3.image-edit.choose-image-parent.position-relative.m-auto(href='javascript:void(0)')
                  .choose-image-overlay.d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100
                    button.btn.btn-primary.btn-xs.position-relative(type='button')
                      | Thay &dstrok;&#x1ED5;i
                    input#upload_image_groom.file-field-absolute(type='file' name='upload_image_groom')
                  img#show_image_groom.w-100.img-thumbnail.rounded-0(src='https://cdn.biihappy.com/ziiweb/default/website/3b48bc6125ce6d186297a3e90a11085e.jpeg')
                .field-websiteinformationgroominfoform-avatar_base64
                  input#websiteinformationgroominfoform-avatar_base64.form-control(type='hidden' name='WebsiteInformationGroomInfoForm[avatar_base64]')
                  .help-block
              h4.fw-bold.text-center.mb-5.text-uppercase Th&ocirc;ng tin ch&uacute; r&#x1EC3;
              .field-websiteinformationgroominfoform-name.required
                .form-floating.mb-2.form-group
                  input#malename.form-control(type='text' name='malename' value=`${weddings.malename}` placeholder='Họ và tên' aria-required='true')
                  label.control-label(for='malename') H&#x1ECD; v&agrave; t&ecirc;n
                  .help-block
              .field-websiteinformationgroominfoform-short_name.required
                .form-floating.mb-2.form-group
                  input#maleshortname.form-control(type='text' name='maleshortname' value=`${weddings.maleshortname}` placeholder='Tên ngắn gọn' aria-required='true')
                  label.control-label(for='maleshortname') T&ecirc;n ng&#x1EAF;n g&#x1ECD;n
                  .help-block
              .field-websiteinformationgroominfoform-birthday.required
                .form-floating.mb-2
                  input#maledate.form-control(type='date' name='maledate' value=`${weddings.maledate}`  placeholder='Ngày sinh' aria-required='true')
                  label.control-label(for='maledate') Ng&agrave;y sinh
                  .help-block
              .field-websiteinformationgroominfoform-intro.required
                .form-floating.mb-2
                  textarea#maleintroduce.form-control(name='maleintroduce' style='height:100px;resize: none;' placeholder='Giới thiệu ngắn về chú rể...' aria-required='true' value=`ASADAS`)=`${weddings.maleintroduce}`
                  label.form-label(for='websiteinformationgroominfoform-intro') Gi&#x1EDB;i thi&#x1EC7;u
                  .help-block
              .field-websiteinformationgroominfoform-facebook
                .form-floating.mb-2
                  input#malefb.form-control(type='text' name='malefb' value=`${weddings.malefb}` placeholder='Facebook')
                  label.control-label(for='malefb') Facebook
                  .help-block
        .col-sm-6
          .card.card-border.border-danger.shadow-lg.card-border-radius-none
            .card-body
              .d-block.text-center
                a.icon-circle.icon-avatar.thumbnail.d-block.mb-3.image-edit.choose-image-parent.position-relative.m-auto(href='javascript:void(0)')
                  .choose-image-overlay.d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100
                    button.btn.btn-primary.btn-xs.position-relative(type='button')
                      | Thay &dstrok;&#x1ED5;i
                    input#upload_image_bride.file-field-absolute(type='file' name='upload_image_bride')
                  img#show_image_bride.w-100.img-thumbnail.rounded-0(src='https://cdn.biihappy.com/ziiweb/default/website/59b631f29bfb9f7cd20437d27ddbe4db.jpeg')
                .field-websiteinformationbrideinfoform-avatar_base64
                  input#websiteinformationbrideinfoform-avatar_base64.form-control(type='hidden' name='WebsiteInformationBrideInfoForm[avatar_base64]')
                  .help-block
              h4.fw-bold.text-center.mb-5.text-uppercase.text-danger Th&ocirc;ng tin c&ocirc; d&acirc;u
              .field-websiteinformationbrideinfoform-name.required
                .form-floating.mb-2
                  input#fename.form-control(type='text' name='fename' value=`${weddings.fename}` placeholder='Họ và tên' aria-required='true')
                  label.control-label(for='fename') H&#x1ECD; v&agrave; t&ecirc;n
                  .help-block
              .field-websiteinformationbrideinfoform-short_name.required
                .form-floating.mb-2
                  input#feshortname.form-control(type='text' name='feshortname' value=`${weddings.feshortname}` placeholder='Tên ngắn gọn' aria-required='true')
                  label.control-label(for='feshortname') T&ecirc;n ng&#x1EAF;n g&#x1ECD;n
                  .help-block
              .field-websiteinformationbrideinfoform-birthday.required
                .form-floating.mb-2
                  input#fedate.form-control(type='date' name='fedate' value=`${weddings.fedate}` placeholder='Ngày sinh' aria-required='true')
                  label.control-label(for='fedate') Ng&agrave;y sinh
                  .help-block
              .field-websiteinformationbrideinfoform-intro.required
                .form-floating.mb-2
                  textarea#feintroduce.form-control(name='feintroduce' style='height:100px;resize: none;' placeholder='Giới thiệu ngắn về cô dâu...' aria-required='true')=`${weddings.feintroduce}`
                  label.form-label(for='feintroduce') Gi&#x1EDB;i thi&#x1EC7;u
                  .help-block
              .field-websiteinformationbrideinfoform-facebook
                .form-floating.mb-2
                  input#fefb.form-control(type='text' name='fefb' value=`${weddings.fefb}`  placeholder='Facebook')
                  label.control-label(for='fefb') Facebook
                  .help-block
      .p-5.text-center.bg-gray-200.mt-7
        button.btn.btn-danger(type='submit')
          svg.bi.bi-save(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
            path(d='M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z')
          | &#x9;&#x9;L&#x1B0;u th&ocirc;ng tin

