extend editwedsite 

block content 
    if(bridesmaids)
        - var n =1
        each bridesmaid in bridesmaids
            while n < 2
                ul.nav.nav-pills.nav-fill.nav-list-website-menu
                    li.nav-item
                        a.nav-link.bg-gray-200(aria-current='page' href=`/wedding/edit/${bridesmaid.wedding}/bridegroom` ) C&ocirc; D&acirc;u &amp; Ch&uacute; R&#x1EC3;
                    li.nav-item
                        a.nav-link.active(href=`/wedding/edit/${bridesmaid.wedding}/bridesmaids` ) Ph&ugrave; D&acirc;u &amp; Ph&ugrave; R&#x1EC3;
                    li.nav-item
                        a.nav-link.bg-gray-200(href=`/wedding/edit/${bridesmaid.wedding}/event`) S&#x1EF1; ki&#x1EC7;n
                    li.nav-item
                        a.nav-link.bg-gray-200(href=`/wedding/edit/${bridesmaid.wedding}/storylove`) Chuy&#x1EC7;n T&igrave;nh Y&ecirc;u
                    li(style='color:white')=n++
    .row.mt-6   
        if(bridesmaids)
            form#groomsmans-bridesmaids-form.form-bridesmaid-user
                input(type='hidden' name='_csrf-biihappy')
                each bridesmaid,i in bridesmaids   
                    .row.mt-6.form-user-test
                        .col-sm-6
                            .groomsmansContainer.formInforContainer
                                .card.card-border.border-dark.shadow-lg.card-border-radius-none.mb-7
                                    .card-body
                                        .d-block.text-center
                                            a.icon-circle.icon-avatar.thumbnail.d-block.mb-3.choose-image-parent.position-relative.m-auto(href='javascript:void(0)')
                                                .choose-image-overlay.d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100
                                                    button.btn.btn-primary.btn-xs.position-relative(type='button')
                                                        | Thay &dstrok;&#x1ED5;i
                                                    input.upload_image_event.file-field-absolute(type='file' accept='image/*' id =`avatar${i+1}` name=`avatar${i+1}`)
                                                    input.form-control(type='hidden' id=`avatarstore${i+1}` name=`avatarstore${i+1}` value=`${bridesmaid.avatar}`)
                                                img#show_image_groomsman_.w-100.img-avatar.img-thumbnail.rounded-0(src=`/img/wedding/${bridesmaid.avatar}`)
                                        h4.fw-bold.text-center.mb-5.text-uppercase
                                            | Th&ocirc;ng tin ph&ugrave; r&#x1EC3;
                                        .field-groomsmans_name_.required
                                            .field-bridesmaids-id.required
                                                input.form-control(type='hidden' name='id' id=`id${i+1}` value=`${i+1}`)
                                                .help-block
                                            .form-floating.mb-2.form-group
                                                input.form-control(type='text' name=`name${i+1}` id=`name${i+1}` value=`${bridesmaid.name}` placeholder='Tên')
                                                label.control-label(for=`name${i+1}`) T&ecirc;n
                                                .help-block
                                        .field-groomsmans_birthday_.required
                                            .form-floating.mb-2
                                                input.form-control(type='date' name=`birthday${i+1}` id=`birthday${i+1}` value=`${bridesmaid.birthday}` placeholder='Ngày sinh')
                                                label.control-label(for=`birthday${i+1}`) Ng&agrave;y sinh
                                                .help-block
                                        .field-groomsmans_intro_.required
                                            .form-floating.mb-2
                                                textarea.form-control(name=`introduce${i+1}` id=`introduce${i+1}` style='height:100px;resize: none;' placeholder='Giới thiệu ngắn về chú rể...')=`${bridesmaid.introduce}`
                                                label.form-label(for=`introduce${i+1}`) Gi&#x1EDB;i thi&#x1EC7;u
                                                .help-block
                                        .field-groomsmans_facebook_index_1
                                            .form-floating.mb-2
                                                input.form-control(type='text' name=`fb${i+1}` id=`fb${i+1}` value=`${bridesmaid.fb}`  placeholder='Facebook')
                                                label.control-label(for=`fb${i+1}`) Facebook
                                                .help-block
                                            .form-floating.mb-2
                                                input.form-control(type='hidden' id=`bridesmaidId${i+1}` name=`bridesmaidId${i+1}` value=`${bridesmaid.id}`)
                        .col-sm-6
                            .groomsmansContainer.formInforContainer
                                .card.card-border.border-dark.shadow-lg.card-border-radius-none.mb-7
                                    .card-body
                                        .d-block.text-center
                                            a.icon-circle.icon-avatar.thumbnail.d-block.mb-3.choose-image-parent.position-relative.m-auto(href='javascript:void(0)')
                                                .choose-image-overlay.d-flex.justify-content-center.align-items-center.position-absolute.top-0.start-0.w-100.h-100
                                                    button.btn.btn-primary.btn-xs.position-relative(type='button')
                                                        | Thay &dstrok;&#x1ED5;i
                                                    input.upload_image_event.file-field-absolute(type='file' accept='image/*' id =`feavatar${i+1}` name=`feavatar${i+1}`)
                                                    input.form-control(type='hidden' id=`feavatarstore${i+1}` name=`feavatarstore${i+1}` value=`${bridesmaid.feavatar}`)
                                                img#show_image_groomsman_.w-100.img-avatar.img-thumbnail.rounded-0(src=`/img/wedding/${bridesmaid.feavatar}`)
                                        h4.fw-bold.text-center.mb-5.text-uppercase
                                            | Th&ocirc;ng tin phù dâu
                                        .field-groomsmans_name_.required
                                            .form-floating.mb-2.form-group
                                                input.form-control(type='text' name=`fename${i+1}` id=`fename${i+1}` value=`${bridesmaid.fename}` placeholder='Tên')
                                                label.control-label(for=`fename${i+1}`) T&ecirc;n
                                                .help-block
                                        .field-groomsmans_birthday_.required
                                            .form-floating.mb-2
                                                input.form-control(type='date' name=`febirthday${i+1}` id=`febirthday${i+1}` value=`${bridesmaid.febirthday}` placeholder='Ngày sinh')
                                                label.control-label(for=`febirthday${i+1}`) Ng&agrave;y sinh                                                    
                                                .help-block
                                        .field-groomsmans_intro_.required
                                            .form-floating.mb-2
                                                textarea.form-control(name=`feintroduce${i+1}` id=`feintroduce${i+1}` style='height:100px;resize: none;' placeholder='Giới thiệu ngắn về chú rể...')=`${bridesmaid.feintroduce}`
                                                label.form-label(for=`feintroduce${i+1}`) Gi&#x1EDB;i thi&#x1EC7;u
                                                .help-block
                                        .field-groomsmans_facebook_index_1
                                            .form-floating.mb-2
                                                input.form-control(type='text' name=`fefb${i+1}` id=`fefb${i+1}` value=`${bridesmaid.fefb}`  placeholder='Facebook')
                                                label.control-label(for=`fefb${i+1}`) Facebook
                                                .help-block
                        .p-5.text-center.bg-gray-200.mt-7
                            button#groomsmen-ID.btn.btn-danger.me-7.btn--save(type='submit' data-groomsmen-id=`${bridesmaid.id}` style='margin-right:25px,height:55px' )
                                | Lưu
                            button.btn.btn-danger-soft.btn-sm.btn-remove-bridesmaids(data-id=`${bridesmaid.id}`) Xo&aacute;
                each bridesmaid,i in bridesmaids
                    if(i<1)
                        .p-5.text-center.bg-gray-200.mt-7
                            //- button.btn.btn-danger(type='submit')
                            //-     svg.bi.bi-save(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            //-         path(d='M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z')
                            //-     | &#x9;&#x9;L&#x1B0;u th&ocirc;ng tin
                            button.btn.btn-dark-soft.btn-sm.w-100.mb-7#add-more-bridesmaids(data-groomens=`${bridesmaid.wedding}`)
                                svg.bi.bi-plus(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z')
                                | &#x9;&#x9;&#x9;Th&ecirc;m ph&ugrave; r&#x1EC3; và phù dâu           
                    