head
    block head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='icon' type='image/png' href='/favicon/favicon.png')
    link(rel='preconnect' href='https://fonts.googleapis.com/')
    link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin='')
    link(rel="shortcut icon" type="image/x-icon" href="https://preview.iwedding.info/templates/template6/favicon.ico")
    link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/libs.bundle2b87.css')
    link(rel='stylesheet' href='/css/theme.bundle2b87.css?v=20210926')
    link(rel='stylesheet' href='/css/themef9f5.css?v=202111121')
    meta(property='og:site_name' content='#')
    meta(property='og:type' content='website')
    meta(property='og:url' content='wedding.html')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:domain' content='/wedding.html')
    meta(name='twitter:site' content='#')
    meta(property='og:title' content='Nền tảng tạo website đám cưới miễn phí! - #')
    meta(itemprop='name' content='Nền tảng tạo website đám cưới miễn phí! - #')
    meta(name='description' content='Hãy xây dựng một website tuyệt vời cho ngày cưới của bạn, để câu chuyện tình yêu và sự kiện trọng đại được lưu giữ mãi theo thời gian.')
    meta(property='og:description' content='Hãy xây dựng một website tuyệt vời cho ngày cưới của bạn, để câu chuyện tình yêu và sự kiện trọng đại được lưu giữ mãi theo thời gian.')
    meta(name='twitter:description' content='Hãy xây dựng một website tuyệt vời cho ngày cưới của bạn, để câu chuyện tình yêu và sự kiện trọng đại được lưu giữ mãi theo thời gian.')
    meta(property='og:image' content='/img/featured.png')
    meta(property='og:image:url' content='/img/featured.png')
    meta(property='og:image:secure_url' content='/img/featured.png')
    meta(property='twitter:image:src' content='/img/featured.png')
    meta(itemprop='image' content='/img/featured.png')
    meta(name='csrf-param' content='_csrf-Behappy')
    meta(name='csrf-token' content='3W6rXH3oIR-ZhLWYhiJd5hg5QH8Tuiuc1uegHepZnsu4L-oLSKtvZazm8dS3Thy8fn50Nnn2ffau39BN3j73jA==')
    link(href='wedding.html' rel='canonical')
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-P4QBSSV7TG')
    script(src='https://unpkg.com/axios/dist/axios.min.js')


body.flex-colum.h-100(style='padding-top:65px!important')
    //-header
    nav.navbar-top.navbar.navbar-expand-lg.navbar-light.py-2.bg-white.fixed-top.border-bottom
        .container
            a.navbar-brand(href='/')
                img.navbar-brand-img(src='/img/logo.png' alt='...')
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarCollapse.collapse.navbar-collapse
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
                    i.fe.fe-x
                ul.navbar-nav.ms-auto
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='/')
                        | Trang ch&#x1EE7;
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='/vi/about-us')
                        | Gi&#x1EDB;i thi&#x1EC7;u
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='/vi/wedding#sectionFeatures' data-scroll='{"offset": 0}')
                        | T&iacute;nh n&abreve;ng
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='/vi/contact')
                        | Li&ecirc;n h&#x1EC7;
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='/vi/survey')
                        | &Dstrok;&aacute;nh gi&aacute;
                    li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='https://blog.biihappy.com' target='_blank')
                        | Blog
            if user 
                ul.navbar-nav.ms-auto
                    li.nav-item.dropdown
                        a#navbarUser.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' aria-haspopup='true' aria-expanded='false')
                            .avatar.avatar-lg
                                img.avatar-img.rounded-circle(src=`/img/users/${user.photo}` alt='...')  
                            strong.mx-2(style='text-transform: uppercase;vertical-align: middle')=user.name            
                            svg(width='12px' height='6px' viewbox='0 0 12 6' xmlns='http://www.w3.org/2000/svg')
                                polygon(fill='#1F303C' points='5 5.7 0 0.7 0.7 0 5 4.4 9.3 0 10 0.7 ')
                        .dropdown-menu.px-0.py-3(aria-labelledby='navbarUser')
                            .list-group.list-group-flush
                                a.list-group-item.p-3(href='/user/me')
                                    .icon.icon-sm.text-primary.avatar.avatar-xl
                                        img.avatar-img.rounded-circle(src=`/img/users/${user.photo}`)
                                    .ms-4
                                        h6.fw-bold.text-uppercase.text-primary.mb-0= user.name
                                        p.fs-sm.text-gray-700.mb-0=user.email
                                a.list-group-item.p-3(href='/user/me')
                                    svg.bi.bi-person-circle(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                        path(d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z')
                                        path(fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z')
                                    span.ms-2 Thi&#x1EBF;t l&#x1EAD;p t&agrave;i kho&#x1EA3;n
                                a.list-group-item.p-3(href='/vi/account/websites')
                                    svg.bi.bi-globe(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                        path(d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z')
                                    span.ms-2 Qu&#x1EA3;n l&yacute; website
                                a.list-group-item.p-3.nav__el--logout(href='/')
                                    svg.bi.bi-box-arrow-right(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                        path(fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z')
                                        path(fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z')
                                    span.ms-2 &Dstrok;&abreve;ng xu&#x1EA5;t
            else
                a.navbar-btn.btn.btn-sm.btn-danger.ms-auto(href='/vi/user/login') &Dstrok;&abreve;ng nh&#x1EAD;p

    nav.bg-gray-200
        .container
            .row
                .col-12
                    ol.breadcrumb.breadcrumb-scroll
                        li.breadcrumb-item
                            a.text-gray-700(href='/vi/account/websites') Dashboard
                        li.breadcrumb-item
                            a.text-gray-700(href='/vi/account/websites') Websites
                        li.breadcrumb-item.active(aria-current='page') baoanh &amp; bao anhh Wedding site!
    section.pt-6.pt-md-8.pb-8
        .container.account-websites-edit-page
            .row
                .col-12
                    .row.mb-6.mb-md-8.align-items-center
                        .col-12.col-lg-auto.mb-4.mb-lg-0.box-header
                            .icon-circle.bg-danger.text-white
                                svg.bi.bi-globe(xmlns='http://www.w3.org/2000/svg' width='35' height='35' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z')
                        .col.ms-lg-n4.mb-4.mb-lg-0.box-header
                            h2.fw-bold.mb-0 asd &amp; asd Wedding site!
                            p.fs-5.text-gray-700.mb-0.limit-1-line
                                svg.bi.bi-link-45deg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z')
                                    path(d='M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z')
                                span.d-inline.d-lg-none
                                    a(href='http://asdasd.iwedding.info' target='_blank') Link website
                                span.d-none.d-lg-inline
                                    | Link website: 
                                    a.text-gray-700(href='http://asdasd.iwedding.info' target='_blank') http://asdasd.iwedding.info
                            p.fs-5.text-gray-700.mb-0.limit-1-line
                                svg.bi.bi-link-45deg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                                    path(d='M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z')
                                    path(d='M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z')
                                span.d-inline.d-lg-none
                                    a(href='http://asdasd.iwedding.info/photo-album' target='_blank') Link album c&#x1B0;&#x1EDB;i
                                span.d-none.d-lg-inline
                                    | Link album c&#x1B0;&#x1EDB;i: 
                                    a.text-gray-700(href='http://asdasd.iwedding.info/photo-album' target='_blank') http://asdasd.iwedding.info/photo-album
                        .col-12.col-lg-auto.box-header
                            form#deleteWebsiteForm(action='/vi/account/websites/delete' method='post')
                                input(type='hidden' name='_csrf-biihappy' value='6vYSkLP3QvpLFwI0F6NzTq5zPoWut37khxS5Wq6Hwj6QhSba964rkBN0aURzwB8KmB0Nw9yAK5Dzd9AjwsP7DA==')
                                input(type='hidden' name='id' value='6262aa0c41d36063a01a549a')
                                button.btn.btn-sm.btn-danger-soft(type='submit' data-confirm='Khi thao tác này được thực hiện, bạn sẽ không thể lấy lại dữ liệu. Bạn có thực sự muốn xóa website này không?')
                                    span.fe.fe-trash-2
                                    |  X&oacute;a website

            block content

    footer.py-5.bg-gray-200.mt-auto
        .container
            .row
                .col-12.text-center.text-gray-700
                    .d-inline-block
                        span &copy; Copyright 2022
                        | ,
                        span Biihappy cu&#x1ED9;c s&#x1ED1;ng m&ecirc; ly!
            .row.mt-2
                .col-12.text-center
                    ul.menu.text-muted.fw-bold.order-1.justify-content-center
                        li.menu-item
                            a.menu-link.px-2.text-muted(href='/vi/about-us') Gi&#x1EDB;i thi&#x1EC7;u
                        li.menu-item
                            a.menu-link.px-2.text-muted(href='https://blog.biihappy.com' target='_blank') Blog
                        li.menu-item
                            a.menu-link.px-2.text-muted(href='/vi/privacy') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
                        li.menu-item
                            a.menu-link.px-2.text-muted(href='/vi/terms') &Dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng
                        li.menu-item
                            a.menu-link.px-2.text-muted(href='/vi/contact') Li&ecirc;n h&#x1EC7;
                        li.menu-item
                            a.menu-link.px-2.text-muted(href='/vi/survey') &Dstrok;&aacute;nh gi&aacute;

    //- script(src='/js/mapbox.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
    script(src='/libs/jquery.min3c8e.js')
    //- script(src='https://js.stripe.com/v3/')
    //- script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='https://biihappy.com/static/libs/jquery.min.js?v=20210925')
    script(src='/js/preview.js')
    script(src='/js/theme.bundlef9f5.js')
    script(src='/js/themee030.js')
    script(src='/js/themef9f5.js') 
    script(src='/js/vendor.bundlef9f5.js')
    script(src='/assets/705bcf32/yii.js')
    script(src='/assets/705bcf32/yii.activeForm.js')
    script(src='/assets/705bcf32/yii.validation.js')
    script(src='/assets/705bcf32/yii.captcha.js')
    script(src='/js/scripts.js')
    script(src='/js/bundle.js')
    script(dist='/js/index.js' type='module')


