head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
  title
  link(rel='shortcut icon' type='image/x-icon' href='https://preview.iwedding.info/templates/template6/favicon.ico')
  link(rel='stylesheet' href='/css/libs.bundle1b8.css')
  link(href='https://fonts.googleapis.com/css?family=Playball&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Pacifico%7CWork+Sans:400,300,600,400italic,700%7CAmatic+SC:400,700&subset=latin-ext' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='https://preview.iwedding.info/templates/template6/css/style.css?v=20220227')
  link(href="https://aancouple.iwedding.info/templates/template5/css/libs.css?v=20220523" rel="stylesheet")
  link#nd_options_style-css(rel='stylesheet' href='https://www.nicdarkthemes.com/themes/wedding/wp/demo/wedding-planner/wp-content/plugins/nd-shortcodes/css/style.css?ver=5.2.2' type='text/css' media='all')
  link#nd_options_font_family_h-css(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cinzel%3A400%2C700&ver=5.2.2' type='text/css' media='all')
  link#nd_options_font_family_p-css(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Halant%3A300%2C400%2C700&ver=5.2.2' type='text/css' media='all')
  link#nd_options_font_family_third-css(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Great+Vibes&ver=5.2.2' type='text/css' media='all')
  link#nd_tds_style-css(rel='stylesheet' href='https://www.nicdarkthemes.com/themes/wedding/wp/demo/wedding-planner/wp-content/plugins/nd-theme-demos-switcher/css/style.css?ver=5.2.2' type='text/css' media='all')
  link(rel='stylesheet' href='/css/style.css')
  script(type='text/javascript' async='' src='https://www.google-analytics.com/analytics.js')
if(wedding)
  .main
    #nd_options_navigation_2_container.nd_options_section.nd_options_position_relative
      .nd_options_section(style='background-color: #DDA0DD ; border-bottom: 1px solid #DDA0DD ;')
        .nd_options_container.nd_options_clearfix.nd_options_position_relative
          .nd_options_grid_12.nd_options_display_none_all_responsive
            .nd_options_section(style='height: 4px;')
              a.navbar-brand.text-logo(href='#home' )
                input( id="malename" type="hidden" value=`${wedding.malename}`)
                input(id="fename" type="hidden" value=`${wedding.fename}`)
                h1#demo(style='font-size: 24px; color: red;')
            .nd_options_navigation_2.nd_options_navigation_type.nd_options_text_align_right.nd_options_float_right.nd_options_display_none_all_responsive
              .nd_options_display_table
                .nd_options_display_table_cell.nd_options_vertical_align_middle
                  .menu-main-menu-container
                    ul#menu-main-menu-1.menu
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.current-menu-item.page_item.page-item-86.current_page_item.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-has-children.menu-item-100
                        a(href='#couple' aria-current='page') C&#x1EB7;p &dstrok;&ocirc;i
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-568
                        a(href='#events') S&#x1EF1; ki&#x1EC7;n
                      li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-510
                        a(href='#couple-story') Chuy&#x1EC7;n t&igrave;nh y&ecirc;u
                      li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-355
                        a(href='#people') Ph&ugrave; d&acirc;u &amp; Ph&ugrave; r&#x1EC3;
                      li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-355
                        a(href='#wishes') L&#x1EDD;i ch&uacute;c
    .zn-container
      #znid-584505610725.zn-element-wrapper( data-type='banner' data-effect='none' data-border-enable='false' data-shadow-enable='false' )
        .zn-element.zn-lg
          .zn-banner(style=`background-image: url(/img/templates/${wedding.templates.mainPhoto})`)
            .zn-children-container
              .zn-children
                .zn-child
                  .zn-template
                    #znid-093705202550.zn-element-wrapper(data-type='heading' data-background-type='none' data-border-enable='false' data-shadow-enable='false' data-text-shadow-enable='false')
                      .zn-element.zn-lg
                        h2.zn-heading(id='' data-element-animation='' data-scroll-animation='')
                          h3(style='color:	white')=`${wedding.templates.mainWord}`	
                          h1(style='color:	white')=`${wedding.malename} & ${wedding.fename}`
                          h2(style='color:	white')=`${wedding.date}`
                .zn-child
                  .zn-template
                    #znid-701590015515.zn-element-wrapper(data-type='text' data-background-type='none' data-border-enable='false' data-shadow-enable='false' data-text-shadow-enable='false')
                      .zn-element.zn-lg
                        .zn-text(id='' data-element-animation='' data-scroll-animation='')
      .zn-addon-wrapper(type='page-settings')
      .zn-addon-wrapper(type='container-style')
      .zn-addon-wrapper(type='messenger')
        .zn-addon.zn-lg
          .zn-messenger
            .fb-customerchat(page_id='' theme_color='#0A7CFF' greeting_dialog_display='hide')
      .zn-addon-wrapper(type='announcement-bar')
      .zn-addon-wrapper(type='breakpoints')
      .zn-addon-wrapper(type='custom-css')
          //- .nd_options_section.nd_options_background_size_cover(style='background-image:url(http://www.nicdarkthemes.com/themes/wedding/wp/demo/wedding-planner/wp-content/uploads/sites/2/2016/10/img-1.jpg);width:calc(100% / 3)')
          //-   .nd_options_section.nd_options_bg_greydark_alpha_5
          //-     .nd_options_section.nd_options_text_align_center
          //-       .nd_options_section.nd_options_height_100
          //-       a.nd_options_color_white(rel='' title='' target='' href='#')
          //-         h1.nd_options_margin_0_important.nd_options_color_white
          //-           | CERIMONY
          //-       .nd_options_section.nd_options_height_20
          //-       h3.nd_options_margin_0_important.nd_options_text_transform_uppercase.nd_options_color_white PLANNING
          //-       .nd_options_section.nd_options_height_100
          //- .wpb_column.vc_column_container.vc_col-sm-4
          //-   .vc_column-inner
          //-     .wpb_wrapper
          //-       // START FOCUS
          //-       .nd_options_section.nd_options_background_size_cover(style='background-image:url(http://www.nicdarkthemes.com/themes/wedding/wp/demo/wedding-planner/wp-content/uploads/sites/2/2016/10/img-2.jpg);width:calc(100% / 3)')
          //-         .nd_options_section.nd_options_bg_greydark_alpha_5
          //-           .nd_options_section.nd_options_text_align_center
          //-             .nd_options_section.nd_options_height_100
          //-             h1.nd_options_margin_0_important.nd_options_color_white
          //-               | WEDDINGS
          //-             .nd_options_section.nd_options_height_20
          //-             h3.nd_options_margin_0_important.nd_options_text_transform_uppercase.nd_options_color_white LOCATIONS
          //-             .nd_options_section.nd_options_height_100
          //-       // END FOCUS
          //- .wpb_column.vc_column_container.vc_col-sm-4
          //-   .vc_column-inner
          //-     .wpb_wrapper
          //-       // START FOCUS
          //-       .nd_options_section.nd_options_background_size_cover(style='background-image:url(http://www.nicdarkthemes.com/themes/wedding/wp/demo/wedding-planner/wp-content/uploads/sites/2/2016/10/img-3.jpg);width:calc(100% / 3)')
          //-         .nd_options_section.nd_options_bg_greydark_alpha_5
          //-           .nd_options_section.nd_options_text_align_center
          //-             .nd_options_section.nd_options_height_100
          //-             h1.nd_options_margin_0_important.nd_options_color_white
          //-               | HONEYMOON
          //-             .nd_options_section.nd_options_height_20
          //-             h3.nd_options_margin_0_important.nd_options_text_transform_uppercase.nd_options_color_white DESTINATIONS
          //-             .nd_options_section.nd_options_height_100
          //-       .parallax-mirror(style='visibility: hidden; z-index: -100; position: fixed; top: 0px; left: 0px; overflow: hidden;')
          //-         img.parallax-slider(src='')
          //-       .loader(style='display: none;')
          section#couple.section.couple
            .container
              .row
                .col-md-12.text-center.heading
                  h2 C&ocirc; d&acirc;u &amp; Ch&uacute; r&#x1EC3;
                  p
                    | T&igrave;nh y&ecirc;u l&agrave; &dstrok;i&#x1EC1;u ki&#x1EC7;n trong &dstrok;&oacute; h&#x1EA1;nh ph&uacute;c c&#x1EE7;a ng&#x1B0;&#x1EDD;i kh&aacute;c l&agrave; &dstrok;i&#x1EC1;u c&#x1EA7;n thi&#x1EBF;t cho ch&iacute;nh b&#x1EA1;n.
              .row.couple-wrap
                .groom-wrap.col-md-6.clearfix
                  .groom
                    img.img-responsive(src=`/img/wedding/${wedding.malephoto}` alt='groom')
                  .desc-groom
                    h3=`${wedding.malename}`
                    // <h4>12/09/1992</h4>
                    p=`${wedding.maleintroduce}`

                .bride-wrap.col-md-6
                  .bride
                    img.img-responsive(src=`/img/wedding/${wedding.fephoto}` alt='groom')
                  .desc-bride
                    h3=`${wedding.fename}`
                    // <h4>10/02/1993</h4>
                    p=`${wedding.feintroduce}`
          section.wedding-date.section-padding.bg-section.section-bg-img(style='background:url(https://cdn.biihappy.com/ziiweb/default/template/6174ee7a7a1c7661fb0a671c/0100b802c6f9a39db35cc65e2171dd5c.jpg) center center/cover no-repeat local !important;')
            .container
              .row
                .col.col-xs-12
                  .section-title-top
                    h2.text-puple Save The Date 
              .row
                .col.col-xs-12
                  h3.text-puple=`${wedding.date}`
                  .clock-grids
                    #clock(data-date=`${wedding.date}` data-text-day='Ngày' data-text-hour='Giờ' data-text-minute='Phút' data-text-second='Giây')
                      .box-time
                        div
                          #day.time
                          span.size Ng&agrave;y
                      .box-time
                        div
                          #hour.time 
                          span.size Gi&#x1EDD;
                      .box-time
                        div
                          #minutes.time 
                          span.size Ph&uacute;t
                      .box-time
                        div
                          #seconds.time 
                          span.size Gi&acirc;y

          section#events.events-accordion.section
            .container
              .row
                .col-md-12.text-center.heading
                  // <span>We Love Each Other</span>
                  h2 S&#x1EF1; Ki&#x1EC7;n C&#x1B0;&#x1EDB;i 
                  p=wedding.templates.eventWord
              .row.event-list
                each event in wedding.event
                  .event-item.col-lg-3.col-md-6.col-xs-12
                    .event-item-box
                      img(src=`/img/wedding/${event.eventPhoto}` alt=`${event.name}`)
                      .event-item_details
                        h3(style='margin-top: 10px;')=event.name
                        h4
                          strong=`${event.time}  ${event.date}`
                        h4=event.address
                        a.btn.btn-danger.btn-sm(href=`${event.map}` target='_blank') Xem b&#x1EA3;n &dstrok;&#x1ED3;
          section#couple-story.section.couple-story.section-gray
            .container
              .row
                .col-md-12.text-center.heading
                  // <span>We Love Each Other</span>
                  h2 Chuy&#x1EC7;n T&igrave;nh Y&ecirc;u
                  p=wedding.templates.storyWord
              .row
                 .col-md-12.col-md-offset-0
                  ul.timeline.animate-box
                    each story in wedding.storyLove
                      li.timeline-item.animate-box
                        .timeline-badge
                          img(src=`/img/wedding/${story.storyPhoto}` alt=`${story.title}`)
                        .timeline-panel
                          .timeline-heading
                            h3.timeline-title=story.title
                            span.date=story.time
                          .timeline-body
                            p=story.content      
          section#counter.section.bg.counter(style=`background-image:url(/img/templates/${wedding.templates.middlePhoto});`)
            .overlay
            .container
              .row
                .col-12.animate-box.fadeInUp.animated-fast
                  .feature-center
                    span.counter-value=wedding.templates.middleWord2
                    span.counter-label=wedding.templates.middleWord1
          section#people.blog-section.section-padding.section-bg-color
            .container
              .row
                .col.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
                  .section-title
                    h2 Ph&ugrave; D&acirc;u &amp; Ph&ugrave; R&#x1EC3;
                    p
                      | T&igrave;nh y&ecirc;u kh&ocirc;ng c&oacute; r&agrave;o c&#x1EA3;n. N&oacute; nh&#x1EA3;y r&agrave;o, nh&#x1EA3;y r&agrave;o, xuy&ecirc;n t&#x1B0;&#x1EDD;ng &dstrok;&#x1EC3; &dstrok;&#x1EBF;n &dstrok;&iacute;ch v&#x1EDB;i &dstrok;&#x1EA7;y hy v&#x1ECD;ng.
              .row
                each bridemaid in wedding.bridesmaids
                  .col-lg-6.col-xs-12
                    .blog-grids.bridesmaid.clearfix
                      .grid
                        .entry-media
                          img(src=`/img/wedding/${bridemaid.feavatar}` alt='')
                        .inner
                          h2=bridemaid.fename
                          h4 Ph&ugrave; d&acirc;u
                          p=bridemaid.introduce
                  .col-lg-6.col-xs-12
                    .blog-grids.groomsmen.clearfix
                      .grid
                        .entry-media
                          img(src=`/img/wedding/${bridemaid.avatar}` alt='')
                        .inner
                          h2=bridemaid.name
                          h4 Ph&ugrave; rể
                          p=bridemaid.introduce
          section#wishes.section.bg.invitation.section-gray(style=`background-image:url(/img/templates/${wedding.templates.bottomPhoto});`)
            .overlay
            .container
              .row
                .col-md-12.text-center.heading
                  h2 S&#x1ED5; L&#x1B0;u B&uacute;t
                  p=wedding.templates.guestbookWord
              .row.h-flex-md
                .col.col-lg-6.col-md-7
                  form#contact.validate-rsvp-form.wish-box-form.form-contact
                    h3.invitation_heading
                      | C&#x1EA3;m &#x1A1;n b&#x1EA1;n r&#x1EA5;t nhi&#x1EC1;u v&igrave; &dstrok;&atilde; g&#x1EED;i nh&#x1EEF;ng l&#x1EDD;i ch&uacute;c m&#x1EEB;ng t&#x1ED1;t &dstrok;&#x1EB9;p nh&#x1EA5;t &dstrok;&#x1EBF;n &dstrok;&aacute;m c&#x1B0;&#x1EDB;i c&#x1EE7;a ch&uacute;ng t&ocirc;i!
                    .form-field.col.col-sm-6
                      input#name.form-control(style='font-size:2rem' type='text' name='name' placeholder='Nhập tên lót và tên*')
                      //- input#weddingId(type="hidden")	
                    .form-field.col.col-sm-6
                      input#email.form-control(style='font-size:2rem' type='email' name='email' placeholder='Nhập email')   
                    .form-field.col.col-sm-12
                      textarea#content.form-control(style='font-size:2rem' rows='5' name='content' placeholder='Nhập lời chúc của bạn*')
                    .row
                      .guest-list.form-field.col-sm-12
                    .row
                      .col-sm-12.text-center
                        button.btn.btn-danger.btn-lg.send-button(data-wedding=`${wedding.id}`) G&#x1EED;i l&#x1EDD;i ch&uacute;c
                .col.col-lg-6.col-md-5
                  .wish-box
                    each contact,i in wedding.contact
                      if(i%2==0)
                        .wish-box-item
                          strong=contact.name
                          p=contact.content
                      else
                        .wish-box-item.bg
                          strong=contact.name
                          p=contact.content
script(src='/js/scripts.js')
script(src='/js/preview.js')
script(src='/js/getTime.js')
script(src='/js/bundle.js')
script(type="module" dist='/js/index.js')
script(src='/js/getFirstLetter.js')
script(src='/libs/jquery.min3c8e.js?v=20210925')
script(src='/js/vendor.bundlef9f5.js?v=202111121')
script(src='/js/theme.bundlef9f5.js?v=202111121')
script(src='/js/themee030.js?v=20211225')